# <span style="color:blue"> **Pandas - Basics** </span>
### Exercise 00: Series

- Create a one-dimensional labeled array capable of holding any data type using a Series.

  Output:
  
      #> A 3
      #> B 5
      #> C 7
      #> D 4

In [8]:
import pandas as pd
import numpy as np

data = np.array([3,5,7,4])

serie = pd.Series(data, index=['A','B','C','D'])

print(serie)

# Pandas Series is a one-dimensional labeled array capable of holding data of any type
# (integer, string, float, python objects, etc.).

A    3
B    5
C    7
D    4
dtype: int64

### Exercise 01: DataFrame

- Create a two-dimensional labeled data structure with columns of potentially different types using a DataFrame.

  Example: 

      data = {'Country': ['Belgium', 'India', 'Brazil'],
      'Capital': ['Brussels', 'New Delhi', 'Brasilia'],
      'Population': [11190846, 1303171035, 207847528]}

In [10]:
data = {'Name':['Maria', 'Amit', 'Sergio', 'Karla'],'Age':[28,34,29,42]}

df = pd.DataFrame(data)

print(df)

     Name  Age
0   Maria   28
1    Amit   34
2  Sergio   29
3   Karla   42

### Exercise 02: Display summary

- Display a summary of the basic information about this DataFrame and its data.

        data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

        labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [34]:
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

df = pd.DataFrame(data)

print(df, "\n")


# The info() function is used to print a concise summary of a DataFrame. 
# This method prints information about a DataFrame including the index dtype and column dtypes, non-null values and memory usage.

df.info(verbose=True)


# The describe() function is used to generate descriptive statistics that summarize the central tendency,
# dispersion and shape of a datasetâ€™s distribution, excluding NaN values.


df.describe(include='all')

# df.describe(include=[np.number])

# df.describe(include=[np.object])

  animal  age  visits priority
0    cat  2.5       1      yes
1    cat  3.0       3      yes
2  snake  0.5       2       no
3    dog  NaN       3      yes
4    dog  5.0       2       no
5    cat  2.0       3       no
6  snake  4.5       1       no
7    cat  NaN       1      yes
8    dog  7.0       2       no
9    dog  3.0       1       no

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
animal      10 non-null object
age         8 non-null float64
visits      10 non-null int64
priority    10 non-null object
dtypes: float64(1), int64(1), object(2)
memory usage: 448.0+ bytes

       animal       age     visits priority
count      10  8.000000  10.000000       10
unique      3       NaN        NaN        2
top       cat       NaN        NaN       no
freq        4       NaN        NaN        6
mean      NaN  3.437500   1.900000      NaN
std       NaN  2.007797   0.875595      NaN
min       NaN  0.500000   1.000000      NaN
25%       NaN  2.375000   1.000000      NaN
50%       NaN  3.000000   2.000000      NaN
75%       NaN  4.625000   2.750000      NaN
max       NaN  7.000000   3.000000      NaN